.clear-button{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    user-select: none;
    background-color: #272b32;
    border-radius: 15px;
    margin: 9px;
} 
 
.clear-button:hover{
    background-color: #333641;
}